
.activity-image {
	height: 200;
}

Image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

Button {
    margin: 0;
    padding: 0;
}

.title {
	margin-right: 10;
	margin-left: 10;
	margin-top: 5;
	color: black;
	max-width: 50;
}

.subtitle {
	margin-right: 10;
	margin-left: 10;
	margin-top: 0;
	font-weight: bold;
}

.description {
	margin-right: 10;
	margin-left: 10;
	margin-top: 5;
}

.voteUpButton {
	font-family: "fontawesome-webfont";
	width: 35;
	height: 35;
	background-color: #6881ca;
    color: white;
   	border-radius: 5;
   	margin-top: 10;
   	margin-right: 10;
}

.voteDownButton {
	font-family: "fontawesome-webfont";
	width: 35;
	height: 35;
	background-color: #6881ca;
    color: white;
   	border-radius: 5;
   	margin-top: 10;
   	margin-right: 55;
}

.joinButton {
	font-family: "fontawesome-webfont";
	height: 35;
	background-color: #6881ca;
    color: white;
   	border-radius: 5;
   	margin-top: 10;
   	margin-left: 10;
   	margin-right: 10;
}