
.activity-image {
	height: 200;
}

Image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.title {
	margin-right: 10;
	margin-left: 10;
	margin-top: 5;
	color: black;
}

.subtitle {
	margin-right: 10;
	margin-left: 10;
	margin-top: 0;
	font-weight: bold;
}

.description {
	margin-right: 10;
	margin-left: 10;
	margin-top: 5;
}

.voteUpButton {
	font-family: "fontawesome-webfont";
	width: 40;
	height: 40;
}