TextView, TextField{
  margin-left: 20;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

textView {
  padding-bottom: 30;
  margin-right: 20;
}

#fname, #lname {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15;
}

#fname {
  margin-left: 10;
  margin-right: 5;
}

#lname {
  margin-left: 0:
}

.editOff {
  background-color: transparent;
  border-color: transparent;
}

.editOn {
  background-color: white;
  border-color: black;
  border-bottom-width: 1;
}
